.container {
	max-width: 1024px;
	margin: 0 auto;
}
.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	// Создаем CSS-счетчик
	counter-reset: items;
}
.item {
	width: 250px;
	height: 250px;
	margin: 15px;
	border-radius: 50%;
	background-color: #3448fd;
	position: relative;
	&::before {
		// Подключаем счетчик в псевдоэлемент
		content: counter(items);
		// Запускаем счетчик
		counter-increment: items;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #76f84e;
		border-radius: 50%;
		position: absolute;
		top: 20px;
		left: 20px;
		color: #000;
		font-weight: 700;
		text-align: center;
		line-height: 40px;
		font-size: 30px;
	}
}

.cards {
	// Создаем CSS-счетчик
	counter-reset: cards;
}
.card {
	width: 250px;
	height: 250px;
	margin: 15px;
	border-radius: 50%;
	background-color: #ffc400;
	position: relative;
	&::before {
		// Подключаем счетчик в псевдоэлемент
		content: counter(cards) '.';
		// Запускаем счетчик
		counter-increment: cards;
		width: 40px;
		height: 40px;
		background-color: #76f84e;
		border-radius: 50%;
		position: absolute;
		top: 20px;
		left: 20px;
		color: #000;
		font-weight: 700;
		text-align: center;
		line-height: 40px;
		font-size: 30px;
	}
}
